@charset 'utf-8'; @import url('fonts.css');
@keyframes fromBlack {
  0% {
		background-image: url("flower.svg"),
			linear-gradient(#000 0, #000 100vh, transparent 300vh, transparent 400vh);
		background-size: cover, 100vw 300vh; 
		background-position: center, 0 0vh
	} 100% {
		background-image: url("flower.svg"),
			linear-gradient(#000 0, #000 100vh, transparent 300vh, transparent 400vh);
		background-size: cover, 100vw 300vh;
		background-position: center, 0 -300vh; 
}}
html {
	animation: .333s linear 0s 1 fromBlack;
	display: flex;
	font-family: "Source Sans Pro", SourceSansPro, Helvetica, Arial, sans-serif;
	font-size: 12pt;
	background-image: url("flower.svg"); background-size: cover;
	background-repeat: no-repeat; background-attachment: fixed;
	background-position: center;
	justify-content: center; align-items: center;
	min-height: 100vh; width: 100%;
}
html.portfolio {background-color: #20e080;}
@keyframes fromTop {
  0% {transform: translateY(-50vh);}
	100% {transform: translateY(0);}
}
body {
	animation: .333s linear 0s 1 fromTop;
	display: flex;
	flex-direction: row; flex-wrap:wrap;
	background-color: #fff;
	max-width: 42em;
	margin: 2em 0 33.33vh 0;
	padding: 2em 0 2em 2em;
	background-position: center;
}
@media (min-width: 768pt) {body {font-size: 16pt}}
@media (max-width: 256pt) {body {font-size: 8pt}}
@media print {
	html {font-size: 10pt}
	body {
		max-width: 100%;
		margin: -2em 0;
		padding: 2em 0;
	}
	.anschreiben body {
		border: 2em solid #e02080;
	}
	.lebenslauf body {
		border-top: 2em solid #80e020;
		border-bottom: 2em solid #80e020;
		/*border-image: url("flower.svg") fill;*/
	}
	nav {display: none}
}
section {
	width: 14em;
	flex-grow: 2;
	margin-right: 2em;
} section.small {
	width: 10em;
	flex-grow: 1;
}
article {
	margin-right: 2em;	
	text-align: justify; text-justify: auto;
	column-fill: balance; column-gap: 2em; column-width: 15em;
	orphans: 3; widows: 3;
	text-indent: 1em;
	width:100%;
} article > p:first-child {
	margin-top: 0;
	text-indent: 0;
} article > p:last-child {
	margin-bottom: 0;
	text-indent: 0;
}
.sig {
	font-size: 1.333em;
	font-weight: 300;
}

@supports (mix-blend-mode: screen) {
	.sig::after {
		display: block;
		content: '';
		height: 1em;
		width: 100%;
		margin-top: -1em;
		background: linear-gradient(#000, #C00060);
		mix-blend-mode: screen;
		pointer-events:none;
	}
}

h1 {
	margin-top: 0;
	margin-right: 2rem;
	width: 100%;
	letter-spacing: 0.25em; text-align: right;
	font-size: 1.5em; font-weight: 600;
} h2 {
	font-size: 1.25em; font-weight: 400;
}
ul {padding-left: 2em;}
nav {
	width: 100%;
	margin: 2.5em 0 -8.5em 0;
	text-align: center;
} nav > a {
	border: 0; border-top: 1em solid #80e020;
	display: block;
	background-color: #fff; color: #000;
	max-width: 10em;
	font-size: 1.5em; font-weight: 300; text-decoration: none;
	padding: 1em 2em 2em 2em; margin:auto;
	transition: border .5s;
} nav > a:hover {
	border-top: 1em solid #80ff00;
	font-weight: 400;
}