@charset 'utf-8'; @import url('fonts.css');
@keyframes fromBlack {
  0% {
		background-image: url("flower.svg"),
			linear-gradient(#000 0, #000 100vh, transparent 300vh, transparent 400vh);
		background-size: cover, 100vw 300vh; 
		background-position: center, 0 0vh
	} 100% {
		background-image: url("flower.svg"),
			linear-gradient(#000 0, #000 100vh, transparent 300vh, transparent 400vh);
		background-size: cover, 100vw 300vh;
		background-position: center, 0 -300vh; 
}}
html {
	animation: .333s linear 0s 1 fromBlack;
	display: flex;
	font-family: "Source Sans Pro", SourceSansPro, Helvetica, Arial, sans-serif;
	font-size: 12pt;
	background-image: url("flower.svg"); background-size: cover;
	background-repeat: no-repeat; background-attachment: fixed;
	background-position: center;
	justify-content: center; align-items: center;
	min-height: 100vh; width: 100%;
	background-color: var(--mainColor);
}

html.portfolio {--mainColor: #2080e0;}
html.anschreiben {--mainColor: #e02080;}
html.lebenslauf {--mainColor: #80e020;}

@keyframes fromTop {
  0% {transform: translateY(-50vh);}
	100% {transform: translateY(0);}
}
body {
	animation: .333s linear 0s 1 fromTop;
	display: flex;
	flex-direction: row; flex-wrap:wrap;
	background-color: #fff;
	max-width: 42em;
	margin: 2em 0 33.33vh 0;
	padding: 2em 0 2em 2em;
	background-position: center;
	clip-path: polygon(1em 4em, calc(100% - 3em) 0, 100% 2em, calc(100% - 1em) 33.33%, 100% 100%, 33.33% calc(100% - 1em), 1em 100%, 0 75%);
}

section {
	width: 14em;
	flex-grow: 2;
	margin: 0 2em 1em 0;
} section.small {
	width: 10em;
	flex-grow: 1;
}
article {
	margin: 0 2em 2em 0;	
	text-align: justify; text-justify: auto;
	column-fill: balance; column-gap: 2em; column-width: 15em;
	orphans: 3; widows: 3;
	text-indent: 1em;
	width:100%;
} article > p:first-child {
	margin-top: 0;
	text-indent: 0;
} article > p:last-child {
	margin-bottom: 0;
	text-indent: 0;
}
.sig {
	font-size: 1.333em;
	font-weight: 300;
} @supports (mix-blend-mode: screen) {
	.sig::after {
		display: block;
		content: '';
		height: 1em;
		width: 100%;
		margin-top: -1em;
		background: linear-gradient(#000, var(--mainColor));
		mix-blend-mode: screen;
		pointer-events:none;
	}
}

h1 {
	margin: 0 2rem 2rem 0;
	width: 100%;
	letter-spacing: 0.25em; text-align: right;
	font-size: 1.5em; font-weight: 600;
}
h2 {
	font-size: 1.25em;
	font-weight: 400;
	margin: 0 0 2rem 0;
}

ul {padding-left: 1.5em;}

nav {
	width: calc(100% + 2em);
	text-align: center;
	margin: 0 0 -5.75em -2em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
} nav > a {
	display: block;
	background-color: #808080;
	color: #fff;
	font-size: 1.5em; font-weight: 300; text-decoration: none;
	padding: 1em 2em;
	margin:0 1em 1em 1em;
} nav > a::before {
	content: "→";
	padding-right: .25em;
	margin-left: -.25em;
}
nav > a:hover, nav > a:focus {
	font-weight: 400;
	filter: saturate(1.5);
}
#zu-lebenslauf {background-color: #80C040}
#zu-portfolio {background-color: #4080C0}
#zu-anschreiben {background-color: #c04080}

a {color: var(--mainColor);}

.highlight {
	width: 100%;
	box-shadow: 0 0 0 .125em #000;
	padding: 0 2em 0 2em;
	margin: 0 0 0 -2em;
}

.highlightable section {
	margin: -1em 1em 1em -1em;
	padding: 1em
}
.highlightable section:hover, .highlightable section:focus {
	box-shadow: 0 0 0 .125em var(--mainColor);
}

@media (min-width: 768pt) {body {font-size: 16pt}}
@media (max-width: 256pt) {body {font-size: 8pt}}
@media print {
	nav {display: none}
	html {
		font-size: 10pt;
		background-attachment: scroll;
	}
	body {
		margin: 2em;
		padding: 2em 0 0 2em;
	}
	.lebenslauf body {
		max-width: 100%;
	}
}