@charset 'utf-8';

/* Source Sans Pro */

@font-face {src: url(vfont/SourceSansVariable-Roman.otf.woff2);
	font-family: SourceSansPro; font-style: normal;
} @font-face {src: url(vfont/SourceSansVariable-Italic.otf.woff2);
	font-family: SourceSansPro; font-style: italic;
}

/* Source Code Pro */

@font-face {src: url(font/SourceCodePro-ExtraLight.otf.woff);
	font-family: SourceCodePro; font-style: normal; font-weight: 200;
} @font-face {src: url(font/SourceCodePro-Light.otf.woff);
	font-family: SourceCodePro; font-style: normal; font-weight: 300;
} @font-face {src: url(font/SourceCodePro-Regular.otf.woff);
	font-family: SourceCodePro; font-style: normal; font-weight: normal;
} @font-face {src: url(font/SourceCodePro-Semibold.otf.woff);
	font-family: SourceCodePro; font-style: normal; font-weight: 500;
} @font-face {src: url(font/SourceCodePro-Bold.otf.woff);
	font-family: SourceCodePro; font-style: normal; font-weight: bold;
} @font-face {src: url(font/SourceCodePro-Black.otf.woff);
	font-family: SourceCodePro; font-style: normal; font-weight: 800;
} @font-face {src: url(font/SourceCodePro-ExtraLightIt.otf.woff);
	font-family: SourceCodePro; font-style: italic; font-weight: 200;
} @font-face {src: url(font/SourceCodePro-LightIt.otf.woff);
	font-family: SourceCodePro; font-style: italic; font-weight: 300;
} @font-face {src: url(font/SourceCodePro-It.otf.woff);
	font-family: SourceCodePro; font-style: italic; font-weight: normal;
} @font-face {src: url(font/SourceCodePro-SemiboldIt.otf.woff);
	font-family: SourceCodePro; font-style: italic; font-weight: 500;
} @font-face {src: url(font/SourceCodePro-BoldIt.otf.woff);
	font-family: SourceCodePro; font-style: italic; font-weight: bold;
} @font-face {src: url(font/SourceCodePro-BlackIt.otf.woff);
	font-family: SourceCodePro; font-style: italic; font-weight: 800;
}
